.list {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  @media (min-width: 375px) and (max-width: 768px) {
    grid-template-columns: 300px;
    justify-content: center;
  }
}
.list li {
  background-color: rgb(17, 212, 189);
  text-align: center;
  padding: 20px;
}
