.back {
  color: rgb(17, 212, 189);
  font-size: 30px;
  background-color: black;
}
.back-a {
  background-color: black;
  text-align: center;
}
.section-character {
  height: 600px;
  background-color: rgb(17, 212, 189);
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: 430px) and (max-width: 768px) {
  }
}
.section-character-img {
  border-radius: 5%;
  width: 400px;
}
.title-name {
  font-size: 30px;
}
.title-name p {
  font-size: 30px;
}

.not-found {
  color: rgb(17, 212, 189);
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.opps {
  width: 150px;
  height: 150px;
}
.container-opps {
  display: flex;
  justify-content: center;
}
